body, html {
    margin: 0;
    padding: 0;
    height: 150%;
}
.body {
    background-color: #1D1919;
    height: 100%; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar {
    text-decoration: none;
    background-color: #1D1919;
}
@media (max-width: 600px) {
    header {
        font-size: 20px;
    }
    footer {
        font-size: 20px;
    }
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: rgb(233, 229, 229);
    text-decoration: none;
}
span {
    color:  #ffffff;
}
.bottom {
    position: absolute;
    top: 95%;
    font-size: 15px;
}
.bottom li {
    display: inline-block;
    color: rgb(177, 177, 177);
}
footer {
    width: calc(100% - 40px);
    text-align: justify;
    justify-content: space-between;
    padding: 10px 20px;
    display: flex;
}