.brasika {
    color: rgb(177, 177, 177);
    position: absolute;
    font-size: 110px;
    top: 100px;
    left: 45px;
    font-weight: bold;
}
.s-brasika {
    color: rgb(177, 177, 177);
    position: absolute;
    font-size: 19px;
    top: 595px;
    left: 75px;
    font-style: italic;
    font-weight: bold;
}
