.text-anim {
    font-size: 2em; 
    color: white;
    white-space: nowrap; 
    overflow: visible;
    position: relative; 
    top: -45px;
    left: -20%;
    padding-top: 0;
    animation: slide-in 2s ease-in-out forwards;
    opacity: 0;
    font-weight: bold;
    font-style: italic;
}
.txt1 {
    animation-delay: 0.5s;
}
.txt2 {
    animation-delay: 1s;
}
.txt3 {
    animation-delay: 2.5s;
}
.txt4 {
    animation-delay: 3s;
}
.txt5 {
    animation-delay: 3.5s;
}
.big {
    font-size: 90px;
}
.small {
    font-size: 25px;
}
@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0; 
    }
    100% {
        transform: translateX(-50%); 
        opacity: 1;
    }
}
